# Hote MySQL : host.docker.internal = MySQL installe sur le meme serveur (gerable via phpMyAdmin)
# Mets "db" ici si tu veux reutiliser le MySQL Docker (avec : docker compose --profile mysql-docker up -d)
DB_HOST=host.docker.internal
DB_PORT=3306
DB_USER=launcher_api
DB_PASSWORD=rootpassword_change_me
DB_NAME=Launcher
JWT_SECRET=change_moi_en_prod_min_32_caracteres_aleatoires_!!!!!
